html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(66,66,66);
  color: whitesmoke;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
}

.header-nav {
  padding: 40px;
}
.link-nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* Home Page */

.home-head {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
}

.home-head h1 {
  display: flex;
    position: absolute;
    top: 130px;
    left: 200px;
}

.home-title {
  position: absolute;
  top: 240px;
  left:200px;
  font-size: 30px;
}

.home-title h4 {
  font-size: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-text {
  width: 50%;
  text-align: left;
}

.home-text h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.diagonal {
  position: absolute;
  width: 241vw;
  height: 600px;
  bottom: 14px;
  transform: rotate(-20deg);
  background: whitesmoke;
  z-index: 1;
}

.main-lower-div {
  display: flex;
}

.home-lower-div {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
}

.home-lower-subdiv {
  display: flex;
  background-color: grey;
  width: 70%;
  margin: 10px auto;
  height: 200px;
  z-index: 10;
  position: relative;
}


/* About page  */

.main-about-div {
  width: 100%;
  display: flex;
}

.header-about-div-l {
width: 50%;
height: 95vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(66,66,66);
}

.header-about-div-r {
 width: 50%;
 height: 95vh;
 display: flex;
justify-content: center;
align-items: center;
background-color: turquoise;
}

.lower-about-div {
  background-color: gray;
  height: 60vh;
  border: solid black 2px;
}


/* Work Page  */
.main-work-div {
  width: 100%;
  display: flex;
}

.header-work-div {
width: 50%;
height: 65vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(66,66,66);
}

.lower-work-div {
  background-color: whitesmoke;
  padding: 30px 0px;
  color: black;
  height: inherit;
}

.work-div-subcontent {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: indianred;
  margin: 200px auto 250px auto;
  margin-bottom: 300px;
}

/* Contact Page */

.main-contact-div {
  width: 100%;
  display: flex;
}

.header-contact-div {
width: 100%;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(116, 41, 126);
}

.mid-contact-div {
  color: whitesmoke;
  height: 60vh;
  display: flex;
justify-content: center;
align-items: center;
}

.lower-contact-div {
  color: black;
  height: 60vh;
  background-color: whitesmoke;
  display: flex;
justify-content: center;
align-items: center;
}


.title {
  display: contents;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
