html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(66,66,66);
  color: whitesmoke;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
}

.header-nav {
  padding: 40px;
}
.link-nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* Home Page */

.home-head {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
}

.home-head h1 {
  display: flex;
    position: absolute;
    top: 130px;
    left: 200px;
}

.home-title {
  position: absolute;
  top: 240px;
  left:200px;
  font-size: 30px;
}

.home-title h4 {
  font-size: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-text {
  width: 50%;
  text-align: left;
}

.home-text h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.diagonal {
  position: absolute;
  width: 241vw;
  height: 600px;
  bottom: 14px;
  transform: rotate(-20deg);
  background: whitesmoke;
  z-index: 1;
}

.main-lower-div {
  display: flex;
}

.home-lower-div-1 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1539278383962-a7774385fa02?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-lower-div-2 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-lower-div-3 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1577423971199-94abb80bfe06?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1275&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-lower-div-4 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1517180102446-f3ece451e9d8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-lower-div-5 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2577&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-lower-div-6 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-home-div-overlay {
  width: 100%;
  height: inherit;
  background-color: rgba(0,0,0,0.3);
  }
  

.home-lower-subdiv {
  display: flex;
  background-color: grey;
  width: 70%;
  justify-content: center;
  margin: 10px auto;
  height: 200px;
  z-index: 10;
  position: relative;
}


/* About page  */

.main-about-div {
  width: 100%;
  display: flex;
}

.header-about-div-l {
width: 50%;
height: 95vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(66,66,66);
background-image: url('https://images.unsplash.com/photo-1561344640-2453889cde5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.header-about-div-l-1{
  width: 50%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(66,66,66);
  background-image: url('https://images.unsplash.com/photo-1533523705247-88786d3e9242?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .header-about-div-l-2 {
    width: 50%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66,66,66);
    background-image: url('https://images.unsplash.com/photo-1531279550271-23c2a77a765c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.header-about-div-overlay {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  }
  

.header-about-div-r {
 width: 50%;
 height: 95vh;
 display: flex;
justify-content: center;
align-items: center;
background-color: rgb(53, 53, 53);
}

.header-about-div-r-1 {
  width: 50%;
  height: 95vh;
  display: flex;
 justify-content: center;
 align-items: center;
 background-color: hsl(192, 87%, 24%);
 }

 .header-about-div-r-2 {
  width: 50%;
  height: 95vh;
  display: flex;
 justify-content: center;
 align-items: center;
 background-color: hsl(327, 88%, 31%);
 }

.lower-about-div {
  background-color: gray;
  height: 60vh;
  border: solid black 2px;
}


/* Work Page  */
.main-work-div {
  width: 100%;
  display: flex;
}

.header-work-div {
width: 50%;
height: 65vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(66,66,66);
}

.lower-work-div {
  background-color: whitesmoke;
  padding: 30px 0px;
  color: black;
  height: inherit;
}

.work-div-subcontent-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: indianred;
  margin: 200px auto 250px auto;
  margin-bottom: 300px;
  background-image: url('https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-div-subcontent-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: indianred;
  margin: 200px auto 250px auto;
  margin-bottom: 300px;
  background-image: url('https://images.unsplash.com/photo-1533038590840-1cde6e668a91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.work-div-subcontent-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: indianred;
  margin: 200px auto 250px auto;
  margin-bottom: 300px;
  background-image: url('https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-div-subcontent-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: indianred;
  margin: 200px auto 250px auto;
  margin-bottom: 300px;
  background-image: url('https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-div-subcontent-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: indianred;
  margin: 200px auto 250px auto;
  margin-bottom: 300px;
  background-image: url('https://images.unsplash.com/photo-1495476479092-6ece1898a101?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-div-subcontent-6 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: indianred;
  margin: 200px auto 250px auto;
  margin-bottom: 300px;
  background-image: url('https://images.unsplash.com/photo-1502810365585-56ffa361fdde?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.diagonal-box {
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  transform: skewY(-11deg);
  position: relative;
} 

.diagonal-box:before {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(-11deg);
}
.content { 	
	max-width: 80em;
    margin: 200px auto; 
    transform: skewY(11deg);
    position: relative;
    height: 500px;
}

.diagonal-box-rev {
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  transform: skewY(11deg);
  position: relative;
} 

.diagonal-box-rev:before {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(11deg);
}
.content-rev { 	
	max-width: 80em;
    margin: 200px auto; 
    transform: skewY(-11deg);
    position: relative;
    height: 500px;
}





/* Contact Page */

.main-contact-div {
  width: 100%;
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1604858732195-cddb24192e6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-contact-div {
width: 100%;
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0,0,0,0.5);
}

.mid-contact-div {
  color: whitesmoke;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1488197047962-b48492212cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2247&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lower-contact-div {
color: whitesmoke;
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
display: flex;
background-image: url('https://images.unsplash.com/photo-1484291470158-b8f8d608850d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


/* footer */

.main-footer-div {
  display: flex;
  justify-content: space-between;
}

.footer-sub-div-left {
  width: 75%; 
  display: flex;
}

.sub-footer-div-1 {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    width: 33%;
}

.sub-footer-div-2 {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    width: 33%;
}

.sub-footer-div-3 {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    width: 33%;
}

.sub-footer-div-4 {
    display: flex;
    align-items: flex-start;
    width: 200px;
    font-size: 11px;
    justify-content: space-between;
}



.title {
  display: contents;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
