html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(66,66,66);
  color: whitesmoke;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
}

.header-nav {
  padding: 40px;
}
.link-nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* Home Page */

.home-head {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
}

.home-head h1 {
  display: flex;
    position: absolute;
    top: 130px;
    left: 200px;
}

.home-title {
  position: absolute;
  top: 240px;
  left:200px;
  font-size: 30px;
}

.home-title h4 {
  font-size: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-text {
  width: 50%;
  text-align: left;
}

.home-text h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.diagonal {
  position: absolute;
  width: 241vw;
  height: 600px;
  bottom: 14px;
  transform: rotate(-20deg);
  background: whitesmoke;
  z-index: 1;
}

.main-lower-div {
  display: flex;
  padding-top: 50px;
}

.home-lower-div-1 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1539278383962-a7774385fa02?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.home-lower-div-2 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.home-lower-div-3 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1577423971199-94abb80bfe06?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1275&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.home-lower-div-4 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1517180102446-f3ece451e9d8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.home-lower-div-5 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2577&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.home-lower-div-6 {
  display: flex;
  background-color: grey;
  width: 29%;
  margin: 90px auto;
  height: 500px;
  z-index: 10;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.header-home-div-overlay {
  width: 100%;
  height: inherit;
  background-color: rgba(0,0,0,0.3);
  }
  

.home-lower-subdiv {
  display: flex;
  background-color: rgb(66,66,66);
  width: 70%;
  flex-direction: column;
  margin: 10px auto;
  height: 200px;
  z-index: 10;
  position: relative;
  border-radius: 5px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.home-lower-inner-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}


/* About page  */

.main-about-div {
  width: 100%;
  display: flex;
}

.header-about-div-l {
width: 50%;
height: 95vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(66,66,66);
background-image: url('https://images.unsplash.com/photo-1561344640-2453889cde5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.header-about-div-l-1{
  width: 50%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(66,66,66);
  background-image: url('https://images.unsplash.com/photo-1533523705247-88786d3e9242?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .header-about-div-l-2 {
    width: 50%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66,66,66);
    background-image: url('https://images.unsplash.com/photo-1531279550271-23c2a77a765c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.header-about-div-overlay {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  }
  

.header-about-div-r {
 width: 50%;
 height: 95vh;
 display: flex;
justify-content: center;
align-items: center;
background-color: rgb(53, 53, 53);
}

.header-about-div-r-1 {
  width: 50%;
  height: 95vh;
  display: flex;
 justify-content: center;
 align-items: center;
 background-color:rgb(53, 53, 53);
 }

 .header-about-div-r-2 {
  width: 50%;
  height: 95vh;
  display: flex;
 justify-content: center;
 align-items: center;
 background-color:rgb(53, 53, 53);
 }

.lower-about-div {
  background-color: gray;
  height: 60vh;
  border: solid black 2px;
}


/* Work Page  */
.main-work-div {
  width: 100%;
  display: flex;
}

.header-work-div {
width: 50%;
height: 65vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(66,66,66);
}

.lower-work-div {
  background-color: whitesmoke;
  padding: 30px 0px;
  color: black;
  height: inherit;
}

.main-work-div {
  display: flex;
  flex-direction: row;
}


.grid {
	position: relative;
	margin: 0 auto;
  width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	max-height: 500px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Romeo *****/
/*---------------*/

figure.effect-romeo {
	-webkit-perspective: 1000px;
  perspective: 1000px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

figure.effect-romeo img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,300px);
	transform: translate3d(0,0,300px);
}

figure.effect-romeo:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 1px;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

figure.effect-romeo:hover figcaption::before {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
	transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-romeo h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

figure.effect-romeo p {
	padding: 0.25em 2em;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

figure.effect-romeo:hover h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.effect-romeo:hover p {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #6303B1!important;
}

.overlay-modal {
  position: absolute;
    top: 0;
    z-index: 10;
    width: 740px;
    height: 100%;
    background: rgba(66,66,66,0.96);
    transform: skew(-200.25deg);
    right: -140px;
}

.modal-inside-text {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 70%;
    width: 488px;
    font-size: 22px;
    transform: skewX(15deg);
}

.modal-work-div-subcontent-1 {
  background-image: url('./assets/ohhoney2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.modal-work-div-subcontent-2 {
  background-image: url('./assets/AMLandscaping.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.modal-work-div-subcontent-3 {
  background-image: url('./assets/techchat1.jpg');
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.modal-work-div-subcontent-4 {
  background-image: url('./assets/carlslist1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.modal-work-div-subcontent-5 {
  background-image: url('./assets/xposure2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.modal-work-div-subcontent-6 {
  background-image: url('./assets/xplor2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}


.diagonal-box {
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  transform: skewY(-11deg);
  position: relative;
} 

.diagonal-box:before {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(-11deg);
}
.content { 	
	max-width: 80em;
    margin: 200px auto; 
    transform: skewY(11deg);
    position: relative;
    height: 500px;
}

.diagonal-box-rev {
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  transform: skewY(11deg);
  position: relative;
} 

.diagonal-box-rev:before {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(11deg);
}
.content-rev { 	
	max-width: 80em;
    margin: 200px auto; 
    transform: skewY(-11deg);
    position: relative;
    height: 500px;
}





/* Contact Page */

.main-contact-div {
  width: 100%;
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1604858732195-cddb24192e6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-contact-div {
width: 100%;
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0,0,0,0.5);
}

.mid-contact-div {
  color: whitesmoke;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1488197047962-b48492212cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2247&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lower-contact-div {
color: whitesmoke;
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
display: flex;
background-image: url('https://images.unsplash.com/photo-1484291470158-b8f8d608850d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


/* footer */

.main-footer-div {
  display: flex;
  justify-content: space-between;
}

.footer-sub-div-left {
  width: 75%; 
  display: flex;
}

.sub-footer-div-1 {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    width: 33%;
}

.sub-footer-div-2 {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    width: 33%;
}

.sub-footer-div-3 {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    width: 33%;
}

.sub-footer-div-4 {
    display: flex;
    align-items: flex-start;
    width: 200px;
    font-size: 11px;
    justify-content: space-between;
}



.title {
  display: contents;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
